@use "../variables" as *;
@use "../media" as *;

.filter {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin: 0;
    gap: 12px;

    &--choices {
      gap: 64px;
      @include mobile {
        gap: 40px;
      }
    }
  }

  &__choices-box {
  }

  &__price {
  }

  &__radio {
    appearance: none;
    position: absolute;
  }

  &__label {
    background-color: $white;
    padding: 16px;
    padding-left: 60px;
    border-radius: 300px;
    background-position: center left 16px;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
    min-height: 72px;
    display: flex;
    align-items: center;

    @include mobile {
      padding: 10px 12px 10px 40px;
      background-position: center left 12px;
      background-size: 24px;
      min-height: 40px;
    }

    &--flowers {
      background-image: url("/public/img/flowers-filter.png");
    }

    &--toys {
      background-image: url("/public/img/toy-filter.png");
    }

    &--postcards {
      background-image: url("/public/img/postcard-filter.jpg");
    }

    &:hover {
      background-color: $orange;
    }
  }

  &__radio:focus-visible + &__label {
    outline: 2px solid $orange;
    outline-offset: 5px;
  }

  &__radio:checked + &__label {
    background-color: $light-orange;
    color: $white;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 8px;
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background: url("/public/svg/arrow-fliter.svg") no-repeat center/contain;
    }
  }
}
