@use "../variables" as *;
@use "../media" as *;

.popup {
  position: fixed;
  z-index: 999;
  width: 624px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 32px;
  background: $white;
  border: 1px solid rgba($dark, 0.2);

  &__container {
    padding: 60px 32px;
  }

  input[type="number"] {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background: $bg;
    border: 0;
    line-height: 1.3;
    color: $dark;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: rgba($dark, 0.3);
    }
  }

  input[type="text"] {
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background: $bg;
    border: 0;
    line-height: 1.3;
    color: $dark;

    &::placeholder {
      color: rgba($dark, 0.3);
    }
  }

  &__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
    color: $dark;
    margin-bottom: 40px;
  }

  &__form {
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  &__info--title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: $dark;
    margin-bottom: 12px;
  }

  &__customer--info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__recipient--info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__addres--info {
    display: grid;
    align-items: center;
    grid-template-columns: 274px 131px 131px;
    gap: 12px;
  }

  &__payment {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  &__payment--input {
    width: 16px;
    height: 16px;
  }

  &__delivery {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
  }

  &__delivery--list li {
    display: none;
  }
  &__delivery--list {
    & li:first-child {
      display: block;
      height: 40px;
      background: $bg;
      padding: 8px 41px 8px 16px;
      position: relative;
      border-radius: 8px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        width: 8px;
        height: 8px;
        background: url("svg/arrow-fliter.svg") no-repeat center/contain;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer--button {
    background: $light-orange;
    text-align: center;
    width: 50%;
    height: 40px;
    border-radius: 32px;
    color: $white;
  }
}
